@import "tailwindcss";

@keyframes gradientShift {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.bg-animate-gradient {
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}

@keyframes bgMove {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.bg-animate-bg {
  animation: bgMove 20s ease infinite;
}